n8n/workflows/Notifications Dispatcher.json
{
  "name": "Notifications Dispatcher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "648cc361-a83b-4be9-8ef8-9ce9c0bfe1a6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kneaniaifzgqibpajyji.supabase.co/functions/v1/check-expiration-notifications",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "c04b3950-3c3b-452c-ad22-6add10a877da",
      "name": "O Disparador",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "YHFFacKXVW9dw5LS",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8319986c-7bac-4dba-9f72-61f8df1303e3",
              "leftValue": "={{ $json.success }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "84e36c77-ed97-441f-a48e-7701cce9d619",
      "name": "Filtro de Sucesso (IF)"
    },
    {
      "parameters": {
        "tableId": "pluggy_sync_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "job_id",
              "fieldValue": "expiration_check_daily"
            },
            {
              "fieldId": "error",
              "fieldValue": "Success"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        624,
        -96
      ],
      "id": "b69ad4e3-5d6d-4e6f-9ce0-2f360659589b",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "DaXp4eXVRTwBWHys",
          "name": "Supabase account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "O Disparador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "O Disparador": {
      "main": [
        [
          {
            "node": "Filtro de Sucesso (IF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro de Sucesso (IF)": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "298139f4-ca7a-411b-9301-60247d59deed",
  "meta": {
    "instanceId": "4ddf44d5ec38764085948b6f125095ba4669e4a304aafd67c76dcf4b0708a86a"
  },
  "id": "mbv4NmTFU3dhRu8N5rU5s",
  "tags": []
}