n8n/workflows/Pluggy Sync Diario.json
{
  "name": "Pluggy Sync Diário",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "4a4944da-44c6-4b88-9da9-6ee40fd81212",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://kneaniaifzgqibpajyji.supabase.co/rest/v1/pluggy_connections?select=user_id,item_id&status=eq.UPDATED&apikey=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtuZWFuaWFpZnpncWlicGFqeWppIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODMxNzYzMSwiZXhwIjoyMDgzODkzNjMxfQ.q3xaQalVBuvVBOoBbSfu6sUn9dzjO_q1rM6-1OU51dY",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "9b2ff968-0455-4dd0-b766-b5404da5a065",
      "name": "Buscar conexoes ativas",
      "credentials": {
        "httpHeaderAuth": {
          "id": "DulvnkFFNftSqY7V",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://kneaniaifzgqibpajyji.supabase.co/rest/v1/pluggy_sync_jobs?select=id&apikey=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtuZWFuaWFpZnpncWlicGFqeWppIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODMxNzYzMSwiZXhwIjoyMDgzODkzNjMxfQ.q3xaQalVBuvVBOoBbSfu6sUn9dzjO_q1rM6-1OU51dY",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtuZWFuaWFpZnpncWlicGFqeWppIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODMxNzYzMSwiZXhwIjoyMDgzODkzNjMxfQ.q3xaQalVBuvVBOoBbSfu6sUn9dzjO_q1rM6-1OU51dY"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtuZWFuaWFpZnpncWlicGFqeWppIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODMxNzYzMSwiZXhwIjoyMDgzODkzNjMxfQ.q3xaQalVBuvVBOoBbSfu6sUn9dzjO_q1rM6-1OU51dY"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"item_id\": \"{{ $json.item_id }}\",\n  \"status\": \"pending\",\n  \"action\": \"incremental-sync\",\n  \"priority\": 2\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "878bf50b-ad0d-47a5-995e-03bdd8f4885d",
      "name": "Loop (Split in Batches)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "DulvnkFFNftSqY7V",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kneaniaifzgqibpajyji.supabase.co/rest/v1/pluggy_sync_logs?apikey=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtuZWFuaWFpZnpncWlicGFqeWppIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODMxNzYzMSwiZXhwIjoyMDgzODkzNjMxfQ.q3xaQalVBuvVBOoBbSfu6sUn9dzjO_q1rM6-1OU51dY",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $(\"Buscar conexoes ativas\").item.json.user_id }}\",\n  \"item_id\": \"{{ $(\"Buscar conexoes ativas\").item.json.item_id }}\",\n  \"job_id\": \"{{ $json.id }}\",\n  \"accounts_synced\": 0,\n  \"transactions_synced\": 0,\n  \"duration_ms\": 0\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "b073a1e7-a540-4996-a4e7-73946a36ab75",
      "name": "Log de execucao",
      "credentials": {
        "httpHeaderAuth": {
          "id": "DulvnkFFNftSqY7V",
          "name": "Header Auth account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Buscar conexoes ativas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar conexoes ativas": {
      "main": [
        [
          {
            "node": "Loop (Split in Batches)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop (Split in Batches)": {
      "main": [
        [
          {
            "node": "Log de execucao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ef1e0fcd-58d6-48b6-a0f1-e003609f85ee",
  "meta": {
    "instanceId": "4ddf44d5ec38764085948b6f125095ba4669e4a304aafd67c76dcf4b0708a86a"
  },
  "id": "CRm56X4Kd6aGJuFyUcRDU",
  "tags": []
}